<div class="row">
    <h3 class="page-title col-sm-12 col-md-9">Campaigns <span *ngIf="campaignStep == 'create'">- Create Campaign</span><span *ngIf="campaignStep == 'dashboard'">- Dashboard</span></h3>
    <div class="col-md-3 col-sm-12">
        <button *ngIf="campaignStep == 'campaigns'" class="btn btn-success btn-sm float-right" (click)="campaignStep = 'create'">Create Campaign</button>
        <button *ngIf="campaignStep !== 'campaigns'" class="btn btn-default btn-sm float-right" (click)="backToCampaigns()">Back</button>
    </div>
  </div>

<div *ngIf="campaignStep == 'campaigns' && !loading" class="row mb-2">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-md-center" *ngIf="!campaigns || campaigns.length == 0">
            <div class="col-sm-12 col-md-6 text-center">
                <h5 class="mb-4">It looks like you don't have any campaigns yet.</h5>
                <button (click)="createCampaign = true" class="btn btn-primary">Create Campaign</button>
            </div>
        </div>
        <div *ngIf="campaigns.length > 0" class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
              <tr class="text-primary">
                <th>Name</th>
                <th>URL</th>
                <th>Phone</th>
                <th>Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let campaign of campaigns" class="">
                <td>{{campaign.CampName}}</td>
                <td>{{campaign.CampURL}}</td>
                <td>{{campaign.CampPhone}}</td>
                <td>{{campaign.CampAddress1}} {{campaign.CampCity}}, {{campaign.CampState}}</td>
                <td><a (click)="manageCampaign(campaign)" class="btn btn-primary btn-sm">Manage</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<campaign-dashboard *ngIf="campaignStep == 'dashboard'" [selectedCampaign]="selectedCampaign"></campaign-dashboard>
<campaign-create *ngIf="campaignStep == 'create'" (updateCampaigns)="updateCampaignList($event)"></campaign-create>
<campaign-edit [selectedCampaign]="selectedCampaign" *ngIf="campaignStep == 'edit'"></campaign-edit>
