<h3 class="page-title">Campaigns <span *ngIf="showCreateCampaign">- Create Campaign</span><span *ngIf="showEditCampaign">- Edit Campaign</span></h3>
<div *ngIf="!showCreateCampaign && !showEditCampaign" class="row mb-2">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-md-center" *ngIf="!campaigns || campaigns.length == 0">
            <div class="col-sm-12 col-md-6 text-center">
                <h5 class="mb-4">It looks like you don't have any campaigns yet.</h5>
                <button (click)="createCampaign = true" class="btn btn-primary">Create Campaign</button>
            </div>
        </div>
        <div *ngIf="campaigns.length > 0" class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
              <tr class="text-primary">
                <th>Name</th>
                <th>URL</th>
                <th>Phone</th>
                <th>Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let campaign of campaigns" class="">
                <td>{{campaign.name}}</td>
                <td>{{campaign.url}}</td>
                <td>{{campaign.phoneNumber}}</td>
                <td>{{campaign.address1}} {{campaign.city}}, {{campaign.state}}</td>
                <td><a (click)="editCampaign(campaign)" class="btn btn-primary btn-sm">Manage</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<campaign-create *ngIf="showCreateCampaign"></campaign-create>
<campaign-edit [selectedCampaign]="selectedCampaign" *ngIf="showEditCampaign"></campaign-edit>
