<div class="row mb-2 mt-4">
  <div *ngIf="!selectedLocation" class="col-lg-12">
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="targetLocation">Enter campaign's target location</label>
        <input type="text" [(ngModel)]="targetLocation" [ngModelOptions]="{standalone: true}" (keyup)="search($event)" class="form-control" id="targetLocation" aria-describedby="targetLocation" placeholder="">
      </div>
      <div *ngIf="showDropdown" class="input-list-container">
        <ul>
          <li *ngFor="let location of locationDropdownList">
            <button class="btn btn-link" (click)="getKeywords(location)" [disabled]="location.name == 'No Results Found'">{{location.name}} {{location.address}}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="selectedLocation" class="col-sm-12 mt-4">
    <h5>Target Location: {{selectedLocation.name}} {{selectedLocation.address}}</h5>
  </div>
  <div *ngIf="suggestedKeywords.length > 0" class="col-sm-12 mt-4">
    <h5 class="card-title mb-2">Keyword Suggestions</h5>
    <p>Select keywords from the suggestions below</p>
    <table class="table table-striped">
      <thead>
        <tr class="">
          <th></th>
          <th>Keyword</th>
          <th>Searches</th>
          <th>Position</th>
          <th>Comp.</th>
          <th>CPC</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let keyword of suggestedKeywords">
          <td>
            <div class="form-check">
              <input class="form-check-input position-static" (click)="handleSelected(keyword)" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div>
          </td>
          <td>{{keyword.key}}</td>
          <td>{{keyword.search_volume}}</td>
          <td>{{keyword.position}}</td>
          <td>{{keyword.competition}}</td>
          <td>{{keyword.cpc}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="suggestedKeywords.length === 0 && selectedLocation" class="col-sm-6 mt-4">
    <h5 class="card-title mb-2">Chosen Keywords</h5>
    <p>Manage chosen keywords below</p>
    <table class="table table-striped">
      <thead>
        <tr class="">
          <th>Keyword</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let keyword of selectedCampaign.CampKeywords">
          <td>{{keyword}}</td>
          <td><a (click)="removeKeyword(keyword)" style="color: white;" class="btn btn-danger btn-sm">Remove</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="removedKeywords.length > 0 && selectedLocation" class="col-sm-6 mt-4">
      <h5 class="card-title mb-2">Removed Keywords</h5>
      <p>Keywords to be removed on save</p>
      <table class="table table-striped">
        <thead>
          <tr class="">
            <th>Keyword</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let keyword of removedKeywords">
            <td>{{keyword}}</td>
            <td><a (click)="undoRemoveKeyword(keyword)" style="color: white;" class="btn btn-primary btn-sm">Undo</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="col-sm-12 mt-5">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Enter your own keyword here (Separate each with a comma)</label>
      <textarea class="form-control" [(ngModel)]="otherKeywords" id="exampleFormControlTextarea1" rows="3"></textarea>
      <small id="emailHelp" class="form-text text-muted">EX: seo software, website, San Francisco healthcare</small>
    </div>
  </div>
  <div class="col-sm-12 mt-4">
      <button type="submit" (click)="save()" class="btn btn-primary">Save</button>
  </div>
</div>
<success-alert *ngIf="success" [message]="successMessage"></success-alert>