<div class="row mb-2 mt-4">
  <div class="col-lg-12">
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="targetLocation">Enter campaign's target location</label>
        <input type="text" [(ngModel)]="targetLocation" [ngModelOptions]="{standalone: true}" (keyup)="search($event)" class="form-control" id="targetLocation" aria-describedby="targetLocation" placeholder="">
      </div>
      <div *ngIf="showDropdown" class="input-list-container">
        <ul>
          <li *ngFor="let location of locationDropdownList">
            <button class="btn btn-link" (click)="getKeywords(location)" [disabled]="location.name == 'No Results Found'">{{location.name}} {{location.address}}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="selectedLocation" class="col-sm-12 mt-4">
    <h5>Target Location: {{selectedLocation.name}} {{selectedLocation.address}}</h5>
  </div>
  <div *ngIf="suggestedKeywords.length > 0" class="col-sm-12 mt-4">
    <h5 class="card-title mb-2">Keyword Suggestions</h5>
    <p>Select keywords from the suggestions below</p>
    <table class="table table-striped">
      <thead>
        <tr class="">
          <th>Keyword</th>
          <th>Searches</th>
          <th>Position</th>
          <th>Comp.</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let keyword of suggestedKeywords">
          <th scope="row">1</th>
          <td>test</td>
          <td>test</td>
          <td>@mdo</td>
          <td>Test</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12 mt-5">
    <p>Add your own keywords</p>

  </div>
</div>