body {
  background: #edf1f5;
}

.custom-tabset {
  .nav-tabs {
    padding: 0 2rem;
    .nav-item {
      margin-right: 7px;
      .nav-link {
        padding: .75rem 1.2rem;
        border-top-left-radius: 0.35rem;
        border-top-right-radius: 0.35rem;
        border-color: #e4e4e4 #e4e4e4 #e4e4e4;
        background: #EEEFF0;
        color: #c1c1c1;
        &.active {
          background: white;
          color: #597be3;
          border-color: #e4e4e4 #e4e4e4 #fff;
        }
      }
    }
  }
  .tab-content {
    .tab-card-body {
      padding: 1.25rem;
    }
  }
}

.custom-card {
  .card-body {
    padding: 0;
    .list-group {
      border-top: 1px solid rgba(0, 0, 0, 0.125);
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      .list-group-item {
        padding: 1.3rem 2rem;
        .info {
          .badge {
            font-size: 70%;
          }
          .campInfo {
            float: left;
            margin-left: 35px;
            h5 {
              margin-bottom: 0px;
            }
          }
        }
        .actions {
  
        }
      }
    }
  }
}

.ratings {
  font-size: 1.2rem;
  color: #f7cf5f;
}

.no-margin {
  margin: 0;
}

.content-margin {
  margin: 0 15px;
}

.tab-card-body {
  border: 1px solid transparent;
  border-color: #fff #dee2e6 #dee2e6 #dee2e6;
}

.main-loader {
  position:fixed;
  top: 55%;
  left: 50%;
  width:34em;
  height:20em;
  margin-top: -10em; /*set to a negative number 1/2 of your height*/
  margin-left: -17em; /*set to a negative number 1/2 of your width*/
  text-align: center;
  h2 {
      font-size: 1.4em;
      color: $blue;
      margin-top: 3em;
  }
  p {
      font-size: 1em;
      color: $light-text-color;
  }
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $blue;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

.btn-primary {
  color: white !important;
}

.component-nav {
  background: white;
  padding: 1rem 15px 0rem 15px;
}

.search-input {
  background: #eee;
  border: 1px solid #e4e4e4;
  font-weight: 400;
  &::placeholder {
    color: #888;
    font-weight: 300;
  }
}

.input-list-container {
  position: absolute;
  bottom: -30px;
  left: 16px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 0%;
  text-align: center;
  width: 45%;
  z-index: 999;
  ul {
    padding: 0;
    li {
      button {
        padding-bottom: 0px;
        margin-bottom: -8px;
        color: #007bff !important;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
        cursor: pointer;
        &:hover {
          color: #0056b3 !important;
          text-decoration: underline !important;
        }
      }
    }
  }
}