.content-wrapper {
  background: $content-bg;
  margin-left: $sidebar-width-lg;
  min-height: 100vh;
  padding: 1rem 1.7rem;
  transition: all .8s ease;
  width: calc(100% - #{$sidebar-width-lg});
  @media (max-width: 991px) {
    margin-left: 0;
    width: 100%;
  }
  &.full-page-wrapper {
    margin-left: 0;
    width: 100%;
  }
}
.login-wrapper {
  width: 100%;
  margin-left: 0;
}
.container-scroller {
  overflow-x: hidden;
}
.page-body-wrapper {
  padding-top: 3.5rem;
}
.login-no-top-padding {
  padding-top: 0;
}
pre {
  background: color(gray-lighter);
  padding: 15px;
  font-size: 14px;
}
